@charset "UTF-8";
/* The side navigation menu */
body {
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  position: auto;
}
.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.mainbody {
  margin: 0;
  padding: 0;
  width: 800px;
  background-color: #f1f1f1;
  position: relative;
  height: 89vh;
  overflow: auto;
  float: right;
}

.mainbody ol {
	padding-left: 50px;
	padding-right: 200px;
}

.mainbody ol li {
	padding-bottom: 20px;
}

/* Sidebar links */
.mainbody a {
  display: block;
  color: black;
  padding: 0px;
  text-decoration: none;
}

/* Active/current link */
.mainbody a.active {
  background-color: #3274d6;
  color: white;
}

/* Links on mouse-over
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-right: 200px;
  padding: 1px 16px;
  height: 00px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .mainbody {
    width: 100%;
    height: auto;
    position: relative;
  }
  .mainbody a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally 
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }*/
  
.responsive-table {
	width: 700px;
}
  
.responsive-table li {
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 20%;
}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 20%;
}
.responsive-table .col-4 {
  flex-basis: 20%;
  textalign: center;
}
.responsive-table .col-5 {
  flex-basis: 20%;
  textalign: center;
}
.responsive-table .col-6 {
  flex-basis: 20%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
  