<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    		<link href="{{ asset('css/content.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
    	<div id="header">{% block topbar %}{% endblock %}</div>
    	<div id="container">
    		<div id="sidebar">{% block sidebar %}{% endblock %}</div>
    		<div id="mainbody">{% block mainbody %}{% endblock %}</div>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
